{% extends "bootstrap/base.html" %}
{% block styles %}
    {{super()}}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}
{% block title %}Anyone Here?{% endblock %}

{% block content %}
<div class="container-fluid" style="max-width:80%">
  <h1>Anyone Here? 👀</h1>
  <div class="panel panel-default">
    <!-- Table -->
    <table class="table">
        <th>Name</th>
        <th>Online</th>
        <th>Last Seen</th>
    {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>
            {% if user.online %}
                <span class="glyphicon glyphicon-ok" style='color:green'></span>
            {% else %}
                <span class="glyphicon glyphicon-remove" style='color:red'></span>
            {% endif %}
            </td>
            <td>{{ user.last_seen }}</td>
        </tr>
    {% endfor %}
    </table>
  </div>
</div>
{% endblock %}